
.row {

}

.setting-button {
    margin-left: 8px;
    margin-bottom: 16px;
}

.panel {
    border-radius: 2px;
    border: 1px rgb(0, 188, 212) solid;

}

.address {
    display: flex;
    justify-content: space-between;
}
.address div:first-of-type {
    flex: 0 0 90%;
}
